/* campus view style */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
  font-size: 14.5px;
  line-height: 1.4em;
  color: #404646;
}

* {
  box-sizing: border-box;
}

.all-campuses {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  align-content: center;
  padding: 0.9em;
}

.addcampuses-panel,
.editcampuses-panel {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 0.9em;
}
.addcampuses-panel input,
.editcampuses-panel input {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 100%;
  box-sizing: border-box;
  max-width: 750px;
  margin: 20px auto;
  color: #404646;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}
.addcampus-form {
  width: 100%;
}
.input-intro {
  display: block;
  line-height: 1.3;
}
.input-style-row {
  display: flex;
  width: 80%;
  margin: auto;
}
.create-campus-button,
.cancel-campus-button {
  min-width: 8.3em;
  height: 50px;
  width: 50%;
  -webkit-box-flex: 0;
  align-self: flex-start;
  margin-right: 5px;
  margin-top: 20px;
  padding: 0.6em 1.2em;
  font-size: 14px;
  color: #fff;
  background: hotpink;
  border: 0.5px solid #777;
  border-radius: 2px;
  cursor: pointer;
}
.campus-content {
  margin: 0.9em;
  height: 15em;
  max-width: 45em;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  display: -webkit-box;
  display: flex;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
}
.campus-image img {
  height: 100%;
  max-width: 19.5em;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.campus-box {
  width: 12em;
  max-height: 100%;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}
.button-end {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.campus-text-button {
  min-width: 8.3em;
  -webkit-box-flex: 0;
  align-self: flex-start;
  margin-right: 5px;
  padding: 0.6em 1.2em;
  font-size: 14px;
  color: #404646 !important;
  background: none;
  border: 0.5px solid #777;
  border-radius: 2px;
  cursor: pointer;
}

.campus-text {
  position: relative;
  -webkit-box-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 0.8em 0;
  padding: 20px;
  color: #404646;
}

.campus-text h1 {
  font-size: 30px;
  line-height: 1.2;
  text-align: left;
  color: #404646;
}
.campus-text h4 {
  font-size: 20px;
  text-align: left;
  line-height: 1.3;
}

.campus-text p {
  font-size: 16px;
  text-align: left;
  line-height: 1.3;
}

.campus-text h4,
.campus-text p {
  margin-top: 0;
}
.campus-text:after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0)),
    to(white)
  );
  background: linear-gradient(rgba(255, 255, 255, 0), white);
}

.campus-text a {
  color: #d07777;
  text-decoration: none;
}
.campus-text a:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .campus-content {
    margin: 0.7826086957em;
  }
  .campus-content img {
    max-width: 18em;
  }
}
@media (max-width: 870px) {
  .campus-content {
    max-width: 100%;
  }
}
@media (max-width: 570px) {
  .all-campuses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    padding: 0;
  }

  .campus-content {
    margin: 0.75em 1.1em;
    height: 15em;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: -webkit-box;
    display: flex;
    background-color: white;
    box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  }
  .campus-content img {
    max-width: 45%;
  }
}

select{
  text-align: center;
  margin: auto;
  width: 50%;
  height: 50px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #CCC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}